@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1{
  font-size: 30px;
  font-weight: 600;
}
h2{
  font-size: 25px;
  font-weight: 400;
}
h3{
  font-size: 20px;
  font-weight: 600;
}
ul {
  list-style-type: disc;
}

ul ul {
  list-style-type: circle; /* Nested list uses a different bullet point */
  margin-left: 20px;
}
